
body {background-color:#ffffff;}
a {
font-family: arial, verdana, sans-serif;
font: size 18pxpx;
font-weight:bold;
}

a.lin:link {
color:#0000ff;
text-decoration:none;
}
a {
color:#034281;
text-decoration:none;
}

a.lin:visited {
color:#800a12;
text-decoration:none;
}
a.lin:active {
color:#37ba8a;
text-decoration:underline;
}
a.lin:hover {
/* background-color:#cbadad; */
color: #37ba8a;
font-size: 21px;
text-decoration:none;
}



.slide{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    /* border:10px solid; */
}

.slide figure img{
    width: 20%;
    height: 400px;
    float: left;
}

.slide figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: Zia 10s infinite linear;
}

@keyframes Zia{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    45%{left: -200%;}
    50%{left: -200%;}
    65%{left: -300%;}
    75%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}
}